# AWS Configuration
AWS_REGION=us-west-2

# OpenSearch Serverless
OPENSEARCH_ENDPOINT=

# SQS
SQS_SCRAPE_QUEUE_URL=

# Flask
FLASK_SECRET_KEY=change-me-to-a-random-secret

AWS_ACCESS_KEY_ID=your-access-key-here
AWS_SECRET_ACCESS_KEY=your-secret-key-here
